.container{
    border: 1px solid black;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.card{
    position: relative;
    border: 1px solid black;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    justify-self: center;
    height: auto;
    width: 40%;
    margin:auto;
}

.invoice{
    display: flex;
    /* border: 1px solid black; */
    margin:30px 10px 0px 10px;
    margin-top: 30px;
    padding:70px;
    height: auto;
    align-self: stretch;
    padding-bottom: 0px;
}

ul{
    list-style: none;
}

/* .total-box{
    border: 1px solid black;
} 
*/

.col-1{
    /* border: 1px solid black; */
    position: relative;
    right:50px;
    overflow: auto;
    margin-right:10px;
}

.col-2{
    /* border: 1px solid black; */
    position: relative;
    left:15rem;
    /* float: left; */
    overflow: auto;
}

.submit-btn{
    padding : 15px;
    width: 70%;
}

/* To do 

    1. Giving Color logic using Figma file.
    2. Scrolling and Responsiveness need to be added somehow
    We can refer other css code logic for this detailing and
    improve on the

*/