body{
    margin: 0px;
}

.main-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FDDDE6;
  margin: 10px 4px 10px 4px;
  border-radius: 5px;
}

.header{
    text-align: center;
}

.cover{
    flex-direction: column;
    text-align: center;
    background-color: whitesmoke;
    align-self: stretch;
    border-radius: 10px;
    margin: 15px;
}

.cover-img{
    padding: 20px 0px 0px 10px;
    width: 90%;
}

.timeline{
    width: 60%;
}

.timeline > h3{
    text-align: center;
    padding: 30px;
}

.timeline > p{
    padding: 30px;
}

.qoute-container{
    display: flex;
    padding: 30px;
    width: auto;
    color: blue;
    font-size: 20px;
    font-weight: 5;
    justify-content: end;
    align-items: flex-end;
}

.qoute-btn{
    padding: 5px;
    margin: 20px;
}