html, body {
    margin: 0;
    padding: 0;
    background-color: black
}

.container{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self: center;
    margin: 40px;
    height: 80vh;
    padding:30px 30px 0px 0px;
    background: #1F2937
}

.main-section{
    margin-left:30px;
    padding-bottom: 30px;
    color: whitesmoke;
    font-family: Inter,sans-serif;
}

.pwd-btn{
    background: #10B981;
    border-radius: 6px;
    padding: 9px 17px 9px 15px;
    color:whitesmoke;
    margin-bottom: 15px;
}

.password-section{
    margin-left: 20px
}

.password-section p{
    display: inline-flex;
    justify-content: center;
    margin-left: 30px;
    width: 40%;
}

.password{
    height: 39px;
    width: 40%;
    background: #273549;
    border-radius: 6px;
    color: #55F991;
}

/* @media (max-width:580px){
    .password-section p{
    width: 40%;
    }
} */