*{
    margin:0;
    padding:0;
}

.container{
    border:1px solid black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1{
    
    align-items: center;
    align-self: center;
    height: 80vh;
}

.box1 > h1 {
    color: green;
    font-size: 2rem;
    text-align: center;
}

.box1 > h2{
    margin-top: 20%;
    color:orange;
    text-align: center;
    font-size: 1.8rem;
}