*{
    margin:0;
    padding:0;
}

.container{
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1{
    
    text-align: center;
}

.box1 h1 {
    font-size: 2rem;
    text-transform: uppercase;
    animation: changecolor 5s infinite alternate;
}

.box1 h2{
    margin-top: 20%;
    margin-bottom: 5%;
    font-size: 1.8rem;
}

@keyframes changecolor {
    0%{
        color: indigo;
    }
    20%{
        color: green;
    }
    40%{
        color: yellow;
    }
    60%{
        color: blue;
    }
    80%{
        color: orange;
    }
    100%{
        color: red;
    }
}